<meta charset="UTF-8">
<meta http-equiv="refresh" content="1; url=<%= @randomlink.url %>">
<script type="text/javascript">
    window.location.href = "<%= @randomlink.url %>"
</script>
<title>AwesomeWeb</title>
</head>
<body style="background: white !important;">
  <div class="loading-container">
    <div class="spinner"></div>
    <div class="spinner-center"></div>
    <div class="loading-text">Loading...</div>
  </div>
<!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
<!-- If you are not redirected automatically, follow this <a href='<%= @randomlink.url %>'>link</a>. -->
