</head>
<body>
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
<%= link_to welcome_awesome_path , { :class=>"button", :target=>"_blank" } do %>
    <p>Take me to an Awesome Website!</p>
  <% end %>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
<script>
var $button = document.querySelector('.button');
$button.addEventListener("mouseover", function() {
  var duration = 0.3,
      delay = 0.08;
  TweenMax.to($button, duration, {scaleY: 1.6, ease: Expo.easeOut});
  TweenMax.to($button, duration, {scaleX: 1.2, scaleY: 1, ease: Back.easeOut, easeParams: [3], delay: delay});
  TweenMax.to($button, duration * 1.25, {scaleX: 1, scaleY: 1, ease: Back.easeOut, easeParams: [6], delay: delay * 3 });
});
</script>
