<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeWeb</title>
    <link rel="shortcut icon" type="image/png" href="https://ohshitgit.com/favicon-16x16.png" sizes="16x16"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield %>
  </body>
</html>
